.whole-card {
  width: 94%;
  height: 11%;
  border: 1px solid #394f63;
  margin-left: 9px;
  background-color: #394f63;
}

.name {
  color: #fff;
  padding: 24px;
  font-weight: 900;
}

.text-preview {
  text-align: right;
  padding-right: 18px;
  margin: 0px;
  color: #bdc5c8;
}

.business-card {
  margin-top: 35%;
}

.card-form {
  width: 94%;
  border: 1px solid #394f63;
  margin-left: 9px;
  background-color: #fff;
  padding-bottom: 150px;
}

.card-text {
  font-size: 13px;
  margin: 0px;
}

.card-divider {
  color: blue;
}

.card-fill {
  padding: 25px;
}
