.whole-card {
  width: 94%;
  height: 11%;
  border: 1px solid #394f63;
  margin-left: 9px;
  background-color: #394f63;
}

.name {
  color: #fff;
  padding: 24px;
  font-weight: 900;
}

.text-preview {
  text-align: right;
  padding-right: 28px;
  margin: 0px;
  color: #bdc5c8;
}

// body

.business-card {
  margin-top: 15%;
}

.business-input {
}

.whole-body {
  width: 94%;
  border: 1px solid #394f63;
  margin-left: 9px;
  background-color: #fff;
}

.post-count {
  display: inline-grid;
}

.business-container {
  padding: 10px;
}

.input-text {
  margin: 15px;
}
